## World Happiness ##
The World Happiness Report is a landmark survey of the state of global happiness. We will perform Exploratory Data Analysis (EDA) on the 2021 dataset.

In [16]:
import pandas as pd
import numpy as np
np.set_printoptions(precision=2, suppress=True)
pd.options.display.float_format = '${:,.2f}'.format

Read in data in csv format as a Pandas data frame. A __DataFrame__ is a 2-dimensional labeled data structure with columns of potentially different types.

In [70]:
df = pd.read_csv('world-happiness-report-2021.csv')

In [71]:
type(df)

pandas.core.frame.DataFrame

In [72]:
df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,$7.84,$0.03,$7.90,$7.78,$10.78,$0.95,$72.00,$0.95,$-0.10,$0.19,$2.43,$1.45,$1.11,$0.74,$0.69,$0.12,$0.48,$3.25
1,Denmark,Western Europe,$7.62,$0.04,$7.69,$7.55,$10.93,$0.95,$72.70,$0.95,$0.03,$0.18,$2.43,$1.50,$1.11,$0.76,$0.69,$0.21,$0.48,$2.87
2,Switzerland,Western Europe,$7.57,$0.04,$7.64,$7.50,$11.12,$0.94,$74.40,$0.92,$0.03,$0.29,$2.43,$1.57,$1.08,$0.82,$0.65,$0.20,$0.41,$2.84
3,Iceland,Western Europe,$7.55,$0.06,$7.67,$7.44,$10.88,$0.98,$73.00,$0.95,$0.16,$0.67,$2.43,$1.48,$1.17,$0.77,$0.70,$0.29,$0.17,$2.97
4,Netherlands,Western Europe,$7.46,$0.03,$7.52,$7.41,$10.93,$0.94,$72.40,$0.91,$0.17,$0.34,$2.43,$1.50,$1.08,$0.75,$0.65,$0.30,$0.38,$2.80

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [74]:
df.shape

(149, 20)

In [75]:
df.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [76]:
df = df[['Country name', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']]

In [77]:
df.rename(columns={'Healthy life expectancy': 'Life expectancy', 'Ladder score': 'HappinessScore'}, inplace=True)

In [78]:
df.head()

,Country name,Regional indicator,HappinessScore,Logged GDP per capita,Social support,Life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,$7.84,$10.78,$0.95,$72.00,$0.95,$-0.10,$0.19
1,Denmark,Western Europe,$7.62,$10.93,$0.95,$72.70,$0.95,$0.03,$0.18
2,Switzerland,Western Europe,$7.57,$11.12,$0.94,$74.40,$0.92,$0.03,$0.29
3,Iceland,Western Europe,$7.55,$10.88,$0.98,$73.00,$0.95,$0.16,$0.67
4,Netherlands,Western Europe,$7.46,$10.93,$0.94,$72.40,$0.91,$0.17,$0.34

In [79]:
df.index

RangeIndex(start=0, stop=149, step=1)

In [80]:
df.isnull().sum()

Country name                    0
Regional indicator              0
HappinessScore                  0
Logged GDP per capita           0
Social support                  0
Life expectancy                 0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

Pandas __Series__ is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).

In [81]:
max_value = df['HappinessScore'].max()
max_value

7.8420000000000005

In [82]:
df['HappinessScore'].mean()

5.532838926174494

In [83]:
max_index = df['Social support'].idxmax()
max_index

3

In [85]:
df.loc[max_index]['Country name']

'Iceland'

In [86]:
df.describe()

,HappinessScore,Logged GDP per capita,Social support,Life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,$149.00,$149.00,$149.00,$149.00,$149.00,$149.00,$149.00
mean,$5.53,$9.43,$0.81,$64.99,$0.79,$-0.02,$0.73
std,$1.07,$1.16,$0.11,$6.76,$0.11,$0.15,$0.18
min,$2.52,$6.63,$0.46,$48.48,$0.38,$-0.29,$0.08
25%,$4.85,$8.54,$0.75,$59.80,$0.72,$-0.13,$0.67
50%,$5.53,$9.57,$0.83,$66.60,$0.80,$-0.04,$0.78
75%,$6.25,$10.42,$0.91,$69.60,$0.88,$0.08,$0.84
max,$7.84,$11.65,$0.98,$76.95,$0.97,$0.54,$0.94

In [87]:
df.loc[df['Country name'] == 'Japan']

,Country name,Regional indicator,HappinessScore,Logged GDP per capita,Social support,Life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
55,Japan,East Asia,$5.94,$10.61,$0.88,$75.10,$0.80,$-0.26,$0.64

In [88]:
df.sort_values(by=['Life expectancy'], ascending=False)

,Country name,Regional indicator,HappinessScore,Logged GDP per capita,Social support,Life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
31,Singapore,Southeast Asia,$6.38,$11.49,$0.92,$76.95,$0.93,$-0.02,$0.08
76,Hong Kong S.A.R. of China,East Asia,$5.48,$11.00,$0.84,$76.82,$0.72,$0.07,$0.40
55,Japan,East Asia,$5.94,$10.61,$0.88,$75.10,$0.80,$-0.26,$0.64
26,Spain,Western Europe,$6.49,$10.57,$0.93,$74.70,$0.76,$-0.08,$0.74
2,Switzerland,Western Europe,$7.57,$11.12,$0.94,$74.40,$0.92,$0.03,$0.29
...,...,...,...,...,...,...,...,...,...
129,Swaziland,Sub-Saharan Africa,$4.31,$9.06,$0.77,$50.83,$0.65,$-0.18,$0.71
84,Ivory Coast,Sub-Saharan Africa,$5.31,$8.55,$0.64,$50.11,$0.74,$-0.02,$0.79
115,Nigeria,Sub-Saharan Africa,$4.76,$8.53,$0.74,$50.10,$0.74,$0.04,$0.88
144,Lesotho,Sub-Saharan Africa,$3.51,$7.93,$0.79,$48.70,$0.71,$-0.13,$0.92
127,Chad,Sub-Saharan Africa,$4.36,$7.36,$0.62,$48.48,$0.58,$0.04,$0.81

In [89]:
df.nlargest(10, 'Life expectancy')

,Country name,Regional indicator,HappinessScore,Logged GDP per capita,Social support,Life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
31,Singapore,Southeast Asia,$6.38,$11.49,$0.92,$76.95,$0.93,$-0.02,$0.08
76,Hong Kong S.A.R. of China,East Asia,$5.48,$11.00,$0.84,$76.82,$0.72,$0.07,$0.40
55,Japan,East Asia,$5.94,$10.61,$0.88,$75.10,$0.80,$-0.26,$0.64
26,Spain,Western Europe,$6.49,$10.57,$0.93,$74.70,$0.76,$-0.08,$0.74
2,Switzerland,Western Europe,$7.57,$11.12,$0.94,$74.40,$0.92,$0.03,$0.29
20,France,Western Europe,$6.69,$10.70,$0.94,$74.00,$0.82,$-0.15,$0.57
10,Australia,North America and ANZ,$7.18,$10.80,$0.94,$73.90,$0.91,$0.16,$0.44
61,South Korea,East Asia,$5.84,$10.65,$0.80,$73.90,$0.67,$-0.08,$0.73
38,Cyprus,Western Europe,$6.22,$10.58,$0.80,$73.90,$0.76,$-0.01,$0.84
73,North Cyprus,Western Europe,$5.54,$10.58,$0.82,$73.90,$0.80,$0.01,$0.63

In [90]:
df.loc[(df['HappinessScore'] > 7) & (df['Life expectancy'] > 73)]

,Country name,Regional indicator,HappinessScore,Logged GDP per capita,Social support,Life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
2,Switzerland,Western Europe,$7.57,$11.12,$0.94,$74.40,$0.92,$0.03,$0.29
5,Norway,Western Europe,$7.39,$11.05,$0.95,$73.30,$0.96,$0.09,$0.27
8,New Zealand,North America and ANZ,$7.28,$10.64,$0.95,$73.40,$0.93,$0.13,$0.24
9,Austria,Western Europe,$7.27,$10.91,$0.93,$73.30,$0.91,$0.04,$0.48
10,Australia,North America and ANZ,$7.18,$10.80,$0.94,$73.90,$0.91,$0.16,$0.44
11,Israel,Middle East and North Africa,$7.16,$10.57,$0.94,$73.50,$0.80,$0.03,$0.75
13,Canada,North America and ANZ,$7.10,$10.78,$0.93,$73.80,$0.92,$0.09,$0.41